.__button-base {
  display: inline-flex;
  border: unset;
  background: #fff;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  color: #333;
  padding: 8px 15px;
  cursor: pointer;
}

.__button-secondary {
  @extend .__button-base;
}

.__download-button {
  @extend .__button-base;
  background: #000;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 35px;

  .__download-button-icon {
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .__download-button-detail {
    display: flex;
    flex-direction: column;
    .__download-button-get {
      font-size: 9px;
      line-height: 15px;
    }

    .__download-button-name {
      font-size: 16px;
      line-height: 15px;
    }
  }
}


.line-button {
  @extend .__button-base;
  background: #02C755;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 35px;

  .line-button-icon {
    display: flex;
    margin-right: 5px;
  }

  .line-button-detail {
    display: flex;
    flex-direction: column;
    .line-button-get {
      font-size: 9px;
      line-height: 15px;
    }

    .line-button-name {
      font-size: 16px;
      line-height: 15px;
    }
  }
}